.inventry_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

#parent_box {
  display: flex;
  flex-direction: column;
}

#mainbox {
  background-image: url(https://wallpaperaccess.com/full/729475.jpg);
}

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 2em;
  gap: 50px;
}

.child-card {
  background-color: rgb(67, 10, 117);
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 15em;
  padding: 1em;
  border-radius: 15px;
  gap: 50px;
}

.child-card > p {
  color: white;
}

.title {
  font-size: larger;
  color: rgb(255, 255, 255);
}

.heading {
  font-size: xx-large;
  text-align: left;
  color: white;
}

.searchtag {
    display: block;
  border: 1px solid black;
}

@media (max-width: 500px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 2em;
  }

  .searchtags {
    /* visibility: hidden; */
    display: none;
  }
  .connectbutton {
    visibility: hidden;
    /* display: none; */

  }
}

@media (min-width: 500px) and (max-width: 960px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
    margin-top: 2em;
    gap: 15px;
  }
}
